@charset "UTF-8";

main{
    background-color: transparent;
}

header{
    position:absolute;
    top: 50px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    margin:0;
    background: none;

}

h1{
    font-size: 3.3em;
    margin: 0px auto;
    text-transform:uppercase;
    padding: 0px;
    text-align: center;
    color: white;
    opacity: 0.6;
}

h2{
    opacity: 0.6;
    padding: 10px 20px 10px;
    font-size: 1.2em;
    color: #6c829a;
    text-align: center;
    
}

picture{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


section.copy {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    width: 100%; 
    background-color: rgba(0,0,0,0.7);
    opacity: 0.6;
}

section.copy p{
    font-size:0.9em;
    line-height: 1.5em;
    padding: 10px 20px 10px;

}

p.columns{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

footer{
    display: none;
}
