@charset "UTF-8";

body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #575C7A;
    font-size: 14px;
    display:block;
}

main {
    margin: 0px auto;
}

header{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500; 
}

main{
    max-width: 980px;
    margin: 0px auto;
    display: block;
    float: left;
    text-align: left;
    box-sizing: border-box;
}

p{
    line-height:1.3em;
    margin-bottom: .5em;
}

footer{
    font-size: 0.85em;
    padding: 5px 10px 10px 0px;
    margin-top: 30px;
}

.clear {
    clear: both;
}





